@font-face {
			font-family: "GothamProRegular";
			src: url("../fonts/GothamProRegular/GothamProRegular.eot");
			src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
			url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProBold";
			src: url("../fonts/GothamProBold/GothamProBold.eot");
			src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
			url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProBlack";
			src: url("../fonts/GothamProBlack/GothamProBlack.eot");
			src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
			url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProItalic";
			src: url("../fonts/GothamProItalic/GothamProItalic.eot");
			src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
			url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProMedium";
			src: url("../fonts/GothamProMedium/GothamProMedium.eot");
			src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
			url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProLight";
			src: url("../fonts/GothamProLight/GothamProLight.eot");
			src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
			url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProMediumItalic";
			src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
			src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
			url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProLightItalic";
			src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
			src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
			url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProBoldItalic";
			src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
			src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
			url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "GothamProBlackItalic";
			src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
			src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
			url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProRegular";
			src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot");
			src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"),
			url("../fonts/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProBold";
			src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot");
			src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProBold/AgoraSansProBold.woff") format("woff"),
			url("../fonts/AgoraSansProBold/AgoraSansProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProItalic";
			src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot");
			src: url("../fonts/AgoraSansProItalic/AgoraSansProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProItalic/AgoraSansProItalic.woff") format("woff"),
			url("../fonts/AgoraSansProItalic/AgoraSansProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProLight";
			src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot");
			src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProLight/AgoraSansProLight.woff") format("woff"),
			url("../fonts/AgoraSansProLight/AgoraSansProLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProMedium";
			src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot");
			src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"),
			url("../fonts/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProBlack";
			src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot");
			src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProBlack/AgoraSansProBlack.woff") format("woff"),
			url("../fonts/AgoraSansProBlack/AgoraSansProBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProThin";
			src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot");
			src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProThin/AgoraSansProThin.woff") format("woff"),
			url("../fonts/AgoraSansProThin/AgoraSansProThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProUltraBlack";
			src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot");
			src: url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.woff") format("woff"),
			url("../fonts/AgoraSansProUltraBlack/AgoraSansProUltraBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProXThin";
			src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot");
			src: url("../fonts/AgoraSansProXThin/AgoraSansProXThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProXThin/AgoraSansProXThin.woff") format("woff"),
			url("../fonts/AgoraSansProXThin/AgoraSansProXThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProMediumItalic";
			src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot");
			src: url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.woff") format("woff"),
			url("../fonts/AgoraSansProMediumItalic/AgoraSansProMediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProLightItalic";
			src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot");
			src: url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.woff") format("woff"),
			url("../fonts/AgoraSansProLightItalic/AgoraSansProLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProBoldItalic";
			src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot");
			src: url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.woff") format("woff"),
			url("../fonts/AgoraSansProBoldItalic/AgoraSansProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProBlackItalic";
			src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot");
			src: url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.woff") format("woff"),
			url("../fonts/AgoraSansProBlackItalic/AgoraSansProBlackItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProUltraBlackItalic";
			src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot");
			src: url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.woff") format("woff"),
			url("../fonts/AgoraSansProUltraBlackItalic/AgoraSansProUltraBlackItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProXThinItalic";
			src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot");
			src: url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.woff") format("woff"),
			url("../fonts/AgoraSansProXThinItalic/AgoraSansProXThinItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AgoraSansProThinItalic";
			src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot");
			src: url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.woff") format("woff"),
			url("../fonts/AgoraSansProThinItalic/AgoraSansProThinItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

 