html{
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;
	}

#header-wrapper{
	background: linear-gradient(to bottom right, #075a48, #2f0437);
	height: 86px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#navbar-inner{
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	display: flex;	
	justify-content: space-between;
	align-items:center;
	flex-wrap:wrap;
	align-content: space-around;
}

#logo-container img{
	height: 40px;
	width: 40px;
	margin-right: 25px;
	padding-top: 2px;
}

#logo-container img:hover{
	opacity:1;
	transition: opacity 1.5s;
}

#top-nav{
flex-grow: 2;
display: flex;
justify-content: space-around;
}


#top-nav a{
	text-decoration: none;
	font-family: "AgoraSansProLight";
	color:#cdcdcd;
	margin-right: 20px;
	font-size:18px;
}

#top-nav a:hover{
color:#FFFFA6;
transition: color 1s;
}

.search {
  width: 20%;
  position: relative;
}

.search input {
  border: none;
 }

.search .input {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #33324D;
  font-size: 16px;
  color:#D3D3D3;
  outline: none;
}

.search .input:hover{
	background-color:#3C3B56;
	transition: background-color 0.5s;
}

.search .input:focus {
  background: #E8E8E8;
  color: #000;
}

::-webkit-input-placeholder {color:#A0A0A0;}
::-moz-placeholder          {color:#A0A0A0;}
:-moz-placeholder           {color:#A0A0A0;}
:-ms-input-placeholder      {color:#A0A0A0;}

.search .submit {
  background-color: #33324D;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  color: #cdcdcd;
  border:none;
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.search .submit:hover {
  color: #fff;
}

.search .submit:active{
background-color: #242424;
z-index: 2;
}

input[type="search"] {
  -webkit-appearance: none;
}

#home{
	padding-top: 80px;
}

#centered_background{
	height: 750px;
	background-image: url(../img/hiroImage.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
	
#short_description{
	max-height: 750px;
	text-align:center;
	font-family:"AgoraSansProLight"; 
	font-size: 23px;
}



#slck-slider{
	width: 100%;
	max-height: 460px;
}